.container{
    background-color: #2c3644 !important;
    color: white !important;
}
.table-head{
    background-color: #313131 !important;
    color: white !important;
}
.table-body{
    background-color: #424242 !important;
    color: white !important;
}
.modal-content{
    background-color: #2c3644 !important;
    color: white !important;
}
.icon{
    cursor: pointer !important;
}